<template id="main">
  <style>

    :host {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 56px;
      font-size: 14px;
      font-family: "メイリオ", sans-serif;
      overflow: hidden;
    }

    #container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 56px;
      display: flex;
      padding: 0 10px;
      background: rgba(30, 30, 30, .75);
      color: #aaa;
      border-top: 1px solid #111;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .06);
      box-sizing: border-box;
      transition: bottom .2s ease-in-out;
      align-items: center;
    }

    #container.hidden {
      bottom: -56px;
    }

    #container-mode {
      position: relative;
      display: flex;
      flex: auto;
      align-items: center;
    }

    .mode {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }

    .mode.hidden {
      display: none;
    }

    #container /deep/ .item {
      position: relative;
      margin: 0 10px;
    }

    #container /deep/ .item-grow {
      flex: auto;
    }

    #container /deep/ .controller-btn {
      width: 30px;
      height: 30px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border-radius: 3px;
      cursor: pointer;
      opacity: .5;
      transition: all .2s ease-in-out;
    }

    #container /deep/ .controller-btn:hover {
      opacity: 1;
    }

    #container /deep/ .controller-btn:active {
      opacity: .8;
    }

    #container /deep/ .controller-btn.disabled {
      opacity: .25;
      cursor: default;
    }

    #container /deep/ .controller-btn.on {
      opacity: 1;
    }

    #container /deep/ .controller-btn-large {
      width: 50px;
      height: 30px;
    }

    #container /deep/ .controller-btn-large.disabled:hover,
    #container /deep/ .controller-btn-large.disabled:active {
      background-color: transparent;
    }

    #container /deep/ .controller-btn-large:hover {
      background-color: rgba(200, 200, 200, .4);
    }

    #container /deep/ .controller-btn-large:active {
      background-color: rgba(200, 200, 200, .2);
    }

    #container /deep/ .controller-btn-alwaysontop {
      background-image: url("images/alwaysontop.svg");
    }

    #container /deep/ .controller-btn-alwaysontop.on {
      background-image: url("images/alwaysontop-on.svg");
    }

    #container /deep/ .controller-btn-menu {
      background-image: url("images/menu.svg");
    }

  </style>

  <div id="container">

    <div id="container-mode"></div>

    <div class="item">
      <div id="btn-alwaysontop" class="controller-btn controller-btn-alwaysontop" title="常に最前面"></div>
    </div>

    <div class="item">
      <div id="btn-menu" class="controller-btn controller-btn-menu" title="メニュー"></div>
    </div>

  </div>

</template>

<script src="Controller.js"></script>
