<template>

  <style>
    :host {
      position: absolute;
      width: 24px;
      height: 24px;
      right: 10px;
      bottom: 10px;
    }

    .outer {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: transparent url("images/draggable.svg") no-repeat center center;
      background-size: contain;
      opacity: .2;
      transition: opacity .2s ease-in-out;
    }

    .outer:hover {
      opacity: .5;
    }

    .inner {
      position: absolute;
      left: 1px;
      top: 1px;
      right: 1px;
      bottom: 1px;
      -webkit-app-region: drag;
    }

    .hidden {
      display: none;
    }
  </style>

  <div class="outer">
    <div class="inner"></div>
  </div>

</template>


<script>
  (() => {
    "use strict";

    var win = require("nw.gui").Window.get();
    var maximized = require("./util/maximized")(win);
    var doc = document.currentScript.ownerDocument;

    var draggable = class extends HTMLElement {

      createdCallback() {
        var root = this.createShadowRoot();
        var template = doc.querySelector("template");
        root.appendChild(document.importNode(template.content, true));

        var div = root.querySelector(".outer");

        this.addEventListener("contextmenu", e => {
          e.preventDefault();
          return false;
        });

        maximized.on(v => {
          if (v) div.classList.add("hidden");
          else div.classList.remove("hidden");
        });

        maximized.emit();
      }

    };

    window.JikkyoResizer = document.registerElement("jikkyo-draggable", {
      prototype: draggable.prototype
    });

  })();
</script>
