<template>
  <style>
    :host {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      pointer-events: none;
    }

    .container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 10px dotted transparent;
      transition: all .2s ease-in-out;
    }

    .hovered {
      border-color: rgba(255, 190, 70, 0.5);
      background-color: rgba(255, 205, 92, .1);
    }

  </style>
  <div id="container" class="container"></div>
</template>

<script src="DropHolder.js"></script>
