<template>

  <style>

    :host {
      position: absolute;
      left: 0;
      top: 0;
    }

    .hidden {
      visibility: hidden;
      pointer-events: none;
    }

    ul {
      margin: 0;
      min-width: 230px;
      padding: 0;
      background: #434343;
      color: #ccc;
      list-style: none;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
    }

    li {
      padding: 0;
    }

    li.item {
      position: relative;
      padding: 5px 5px 5px 30px;
    }

    li.item:hover {
      background-color: #c78214;
      color: #fff;
    }

    li.checked:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 50%;
      display: block;
      margin: -5px 0 0 0;
      width: 8px;
      height: 8px;
      background-color: #ccc;
      border-radius: 50%;
    }

    li.checked:hover:before {
      background-color: #fff;
    }

    li.separator {
      margin: 5px 0;
      border-top: 1px solid #777;
    }

  </style>

  <ul class="hidden"></ul>

</template>

<script src="Menu.js"></script>
