<template id="main">
  <style>
    :host {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      pointer-events: none;
    }

    h1 {
      margin: 10px 0;
      font-size: 100%;
    }

    #modal-bg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: rgba(0, 0, 0, .5);
      pointer-events: auto;
      transition: background-color .2s ease-in-out;
    }

    #modal-bg.hidden {
      background-color: transparent;
      pointer-events: none;
    }

    #modal {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      background-color: #333;
      color: #aaa;
      border-radius: 8px;
      overflow: hidden;
      opacity: 1;
      box-shadow: 1px 3px 10px rgba(0, 0, 0, .7);
      pointer-events: auto;
      transition: opacity .2s ease-in-out;
    }

    .hidden {
      visibility: hidden;
    }

    .hidden #modal {
      opacity: 0;
      pointer-events: none;
    }

    .space {
      margin-bottom: 20px;
    }

    .modal-list-select {
      width: 100%;
    }

    #modal /deep/ .modal-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50px;
      background-color: #222;
      padding: 0 20px;
      text-align: right;
      line-height: 50px;
    }

    #modal /deep/ .modal-content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 50px;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    #modal /deep/ .modal-form {
      display: block;
      padding: 20px;
    }

    #modal /deep/ .modal-control {
      width: 100%;
    }

    #modal /deep/ .modal-form .modal-control {
      width: calc(100% - 20px);
    }

    #modal /deep/ .modal-loading {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      width: 36px;
      height: 36px;
      margin: -18px 0 0 -18px;
      background: transparent url("images/loading.svg") no-repeat center center;
      background-size: contain;
    }

    #modal /deep/ hr {
      margin-bottom: 20px;
      border-width: 1px;
      border-color: rgba(255, 255, 255, .2);
    }

    #modal /deep/ .form-group + hr {
      margin-top: 20px;
    }

    #modal /deep/ .form {
      margin-bottom: 10px;
    }

    #modal /deep/ .form-group {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
    }

    #modal /deep/ .form-label {
      width: 180px;
      padding: 5px 20px 0 0;
    }

    #modal /deep/ .form-control {
      flex: auto;
    }

    #modal /deep/ .form-control-right {
      margin-left: 10px;
    }

    #modal /deep/ .form-right {
      padding-left: 10px;
    }

    #modal /deep/ .form-start {
      margin-top: 10px;
    }

    #modal /deep/ .form-end {
      margin-bottom: 20px;
    }

    #modal /deep/ .form-hidden {
      display: none;
    }

    #modal /deep/ .form-desc {
      display: block;
      margin: 5px 0 10px 0;
      color: #777;
      font-size: 85%;
    }

    #modal /deep/ .form-desc-check {
      display: block;
      margin: -5px 0 15px 24px;
      color: #777;
      font-size: 85%;
    }

    #modal /deep/ .form-textarea-mono {
      font-family: monospace;
    }

    #modal .modal-progress {
      width: 100%;
      height: 10px;
      margin: 20px auto 0;
      border-radius: 10px;
      background-color: #000;
      overflow: hidden;
    }

    #modal .modal-progressbar {
      width: 0%;
      height: 10px;
      background-color: #ff9d00;
    }

  </style>

  <div id="modal-bg" class="hidden">
    <div id="modal">
    </div>
  </div>
</template>

<template id="loading" data-width="200" data-height="50">
  <div class="modal-loading"></div>
</template>

<template id="alert" data-width="400" data-height="150">
  <div class="modal-content"></div>
  <div class="modal-footer">
    <div id="modal-btn-ok" class="btn">OK</div>
  </div>
</template>

<template id="yesno" data-width="400" data-height="150">
  <div class="modal-content"></div>
  <div class="modal-footer">
    <div id="modal-btn-no" class="btn">いいえ</div>
    <div id="modal-btn-yes" class="btn btn-primary">はい</div>
  </div>
</template>

<template id="list" data-width="500" data-height="370">
  <div class="modal-content">
    <div id="modal-content" class="space"></div>
    <select id="modal-select" class="modal-list-select" size="10"></select>
  </div>
  <div class="modal-footer">
    <div id="modal-btn-cancel" class="btn">キャンセル</div>
    <div id="modal-btn-ok" class="btn btn-primary form-control-right">OK</div>
  </div>
</template>

<template id="progress-cancelable" data-width="400" data-height="180">
  <div class="modal-content">
    <div id="modal-progress-content"></div>
    <div class="modal-progress">
      <div id="modal-progressbar" class="modal-progressbar"></div>
    </div>
  </div>
  <div class="modal-footer">
    <div id="modal-btn-cancel" class="btn">キャンセル</div>
  </div>
</template>

<script src="Modal.js"></script>
