<template id="style">

  <style>

    .container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 50px;
      display: flex;
      align-items: stretch;
    }

    #tabs {
      margin: 0;
      padding: 0;
      width: 100px;
      background-color: #222;
      list-style: none;
    }

    #tabs li {
      margin: 0;
      padding: 10px 20px;
    }

    #tabs li.active {
      background-color: #333;
      color: #fff;
    }

    #prefs {
      position: relative;
      flex-grow: 1;
    }

    #prefs > div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: none;
      padding: 10px 20px;
      overflow-y: auto;
    }

    #prefs > div.active {
      display: block;
    }

  </style>

</template>

<template id="content">

  <div class="container">
    <ul id="tabs"></ul>
    <div id="prefs">

      <div id="pref-comment" data-title="コメント">

      </div>

      <div id="pref-twitter" data-title="Twitter">

        <div class="form-group">
          <label for="twitter-ck" class="form-label">Consumer Key</label>
          <div class="form-control">
            <input type="text" id="twitter-ck" placeholder="Consumer Key">
          </div>
        </div>

        <div class="form-group">
          <label for="twitter-cs" class="form-label">Consumer Secret</label>
          <div class="form-control">
            <input type="text" id="twitter-cs" placeholder="Consumer Secret">
          </div>
        </div>

        <div class="form-group">
          <label for="twitter-at" class="form-label">Access Token</label>
          <div class="form-control">
            <input type="text" id="twitter-at" placeholder="Access Token">
          </div>
        </div>

        <div class="form-group">
          <label for="twitter-as" class="form-label">Access Secret</label>
          <div class="form-control">
            <input type="text" id="twitter-as" placeholder="Access Secret">
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="modal-footer">
    <div id="ok" class="btn">閉じる</div>
  </div>

</template>

<script src="PreferenceDialog.js"></script>
