<template id="style">

  <style>

    .container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 50px;
      display: flex;
      align-items: stretch;
    }

    #tabs {
      margin: 0;
      padding: 0;
      width: 100px;
      background-color: #222;
      list-style: none;
    }

    #tabs li {
      margin: 0;
      padding: 10px 20px;
    }

    #tabs li.active {
      background-color: #333;
      color: #fff;
    }

    #prefs {
      position: relative;
      flex-grow: 1;
    }

    .pref {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: none;
      padding: 10px 20px;
      overflow-y: auto;
    }

    .pref.active {
      display: block;
    }

    .container /deep/ hr {
      margin-bottom: 20px;
      border-width: 1px;
      border-color: rgba(255, 255, 255, .2);
    }

    .container /deep/ .form {
      margin-bottom: 10px;
    }

    .container /deep/ .form-group {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
    }

    .container /deep/ .form-label {
      width: 180px;
      padding: 5px 20px 0 0;
    }

    .container /deep/ .form-control {
      flex: auto;
    }

    .container /deep/ .form-end {
      margin-bottom: 20px;
    }

    .container /deep/ .form-hidden {
      display: none;
    }

  </style>

</template>

<template id="content">

  <div class="container">
    <ul id="tabs"></ul>
    <div id="prefs">
      <div id="pref-comment" class="pref" data-title="コメント">

         <div class="form-group">
            <label for="comment-font-family" class="form-label">フォントファミリー</label>
            <input type="text" id="comment-font-family" class="form-control">
         </div>

         <div class="form-group">
            <label for="comment-duration" class="form-label">表示時間（ミリ秒）</label>
            <input type="number" id="comment-duration" class="form-control" max="10000" min="100">
         </div>

         <div class="form-group">
            <label for="comment-us-duration" class="form-label">ue/shitaの表示時間</label>
            <input type="number" id="comment-us-duration" class="form-control" max="10000" min="100">
         </div>

         <div class="form-group">
            <label for="comment-opacity" class="form-label">不透明度</label>
            <input type="number" id="comment-opacity" class="form-control" max="1" min="0"　pattern="[0-9]+([\.|,][0-9]+)?" step="0.01">
         </div>

         <div class="form-group">
            <label for="comment-bullet-opacity" class="form-label">弾幕コメントの不透明度</label>
            <input type="number" id="comment-bullet-opacity" class="form-control" max="1" min="0"　pattern="[0-9]+([\.|,][0-9]+)?" step="0.01">
         </div>

         <hr>

         <div class="form-group">
            <div class="form-label">フォントサイズの計算方法</div>
            <div class="form-control">
              <select id="comment-sizing">
                <option value="font-size">フォントサイズ固定</option>
                <option value="rows">表示行数固定</option>
              </select>
            </div>
         </div>

         <div class="form-group">
            <label for="comment-font-size" class="form-label">フォントサイズ</label>
            <input type="text" id="comment-font-size" class="form-control">
         </div>

         <div class="form-group">
            <label for="comment-rows" class="form-label">表示行数</label>
            <input type="number" id="comment-rows" class="form-control" max="30" min="1">
         </div>

         <hr>

         <div class="form-group">
            <label for="comment-style" class="form-label">コメントCSS</label>
           <textarea id="comment-style" class="form-control" rows="8"></textarea>
         </div>

         <div class="form-group">
            <label for="comment-bullet-style" class="form-label">弾幕コメントCSS</label>
            <textarea id="comment-bullet-style" class="form-control" rows="8"></textarea>
         </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div id="ok" class="btn">閉じる</div>
  </div>

</template>

<script src="PreferenceDialog.js"></script>
