<template id="style">

  <style>

    .container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 50px;
      display: flex;
      align-items: stretch;
    }

    #tabs {
      margin: 0;
      padding: 0;
      width: 100px;
      background-color: #222;
      list-style: none;
    }

    #tabs li {
      margin: 0;
      padding: 10px 20px;
    }

    #tabs li.active {
      background-color: #333;
      color: #fff;
    }

    #prefs {
      position: relative;
      flex-grow: 1;
    }

    .pref {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: none;
      padding: 10px 20px;
      overflow-y: auto;
    }

    .pref.active {
      display: block;
    }

    .container /deep/ hr {
      margin-bottom: 20px;
      border-width: 1px;
      border-color: rgba(255, 255, 255, .2);
    }

    .container /deep/ .form {
      margin-bottom: 10px;
    }

    .container /deep/ .form-group {
      display: flex;
      margin-bottom: 10px;
      align-content: center;
    }

    .container /deep/ .form-label {
      width: 150px;
      padding: 5px 10px 0 0;
    }

    .container /deep/ .form-control {
      flex: auto;
    }

    .container /deep/ .form-end {
      margin-bottom: 20px;
    }

    .container /deep/ .form-hidden {
      display: none;
    }

  </style>

</template>

<template id="content">

  <div class="container">
    <ul id="tabs"></ul>
    <div id="prefs">
      <div id="pref-comment" class="pref" data-title="コメント">

         <div class="form-group">
            <label for="comment-font-size" class="form-label">フォントサイズ</label>
            <input type="text" id="comment-font-size" class="form-control">
         </div>

         <div class="form-group">
            <label for="comment-font-family" class="form-label">フォントファミリー</label>
            <input type="text" id="comment-font-family" class="form-control">
         </div>

         <div class="form-group">
            <label for="comment-rows" class="form-label">表示行数</label>
            <input type="text" id="comment-rows" class="form-control">
         </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div id="ok" class="btn">閉じる</div>
  </div>

</template>

<script src="PreferenceDialog.js"></script>
