<template>

  <style>

    :host {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    .indicator {
      position: absolute;
      left: 5px;
      top: 5px;
      right: 4px;
      bottom: 4px;
      background-color: rgba(255, 165, 0, 0.1);
      border-radius: 5px;
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s ease-in-out;
    }

    .indicator.on {
      opacity: 1;
    }

    .grip {
      position: absolute;
      pointer-events: auto;
    }

    .w, .e {
      top: 0;
      bottom: 0;
      width: 10px;
    }

    .n, .s {
      left: 0;
      right: 0;
      height: 10px;
    }

    .nw, .ne, .sw, .se {
      width: 10px;
      height: 10px;
    }

    .w { left: 0; }
    .n { top: 0; }
    .e { right: 0; }
    .s { bottom: 0; }

    .nw { left: 0; top: 0; }
    .ne { right: 0; top: 0; }
    .sw { left: 0; bottom: 0; }
    .se { right: 0; bottom: 0; }

    .w:hover, .e:hover { cursor: ew-resize; }
    .n:hover, .s:hover { cursor: ns-resize; }
    .nw:hover, .se:hover { cursor: nwse-resize; }
    .ne:hover, .sw:hover { cursor: nesw-resize; }

    :host(.maximized) .w:hover,
    :host(.maximized) .n:hover,
    :host(.maximized) .e:hover,
    :host(.maximized) .s:hover,
    :host(.maximized) .nw:hover,
    :host(.maximized) .ne:hover,
    :host(.maximized) .sw:hover,
    :host(.maximized) .se:hover {
      cursor: default;
    }

  </style>

  <div id="indicator" class="indicator"></div>
  <div id="w" class="grip w"></div>
  <div id="n" class="grip n"></div>
  <div id="e" class="grip e"></div>
  <div id="s" class="grip s"></div>
  <div id="nw" class="grip nw"></div>
  <div id="ne" class="grip ne"></div>
  <div id="sw" class="grip sw"></div>
  <div id="se" class="grip se"></div>

</template>

<script src="Resizer.js"></script>
