<template>
  <style>

    :host {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 28px;
      overflow: hidden;
    }

    .container, .draggable, .title, .titlebar-btns {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .container {
      bottom: auto;
      height: 28px;
      background: rgba(57, 57, 57, 0.75);
      color: #aaa;
      border-bottom: 1px solid #333;
      line-height: 28px;
      box-sizing: border-box;
      transition: top .2s ease-in-out;
    }

    .container.hidden {
      top: -28px;
    }

    .draggable {
      top: 5px;
      -webkit-app-region: drag;
    }

    :host([clickthrough]) .draggable {
      display: none;
    }

    .container.maximized .draggable {
      top: 0;
    }

    .title {
      font-size: 14px;
      text-align: center;
    }

    .title:before {
      position: absolute;
      left: 10px;
      top: 50%;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      display: block;
      background: transparent url("images/jikkyo.svg") no-repeat center center;
      background-size: contain;
      content: "";
    }

    .darwin .title:before {
      content: none;
    }

    .titlebar-btns {
      display: flex;
      padding-right: 6px;
      vertical-align: middle;
      box-sizing: border-box;
      justify-content: flex-end;
      align-items: center;
    }

    .titlebar-btn {
      transition: background-color .1s ease-in-out;
      -webkit-app-region: no-drag;
    }

    /* Windows/Linux */

    .titlebar-btns {
      flex-direction: row;
    }

    .titlebar-btn, .linux .btn {
      width: 16px;
      height: 16px;
      padding: 2px 6px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 13px 13px;
      border-radius: 2px;
    }

    .titlebar-btn:hover {
      background-color: #222;
    }

    .titlebar-btn:active {
      background-color: #000;
    }

    .titlebar-btn-close {
      background-image: url("images/close.svg");
    }

    .titlebar-btn-maximize {
      background-image: url("images/maximize.svg");
    }

    .maximized .titlebar-btn-maximize {
      background-image: url("images/unmaximize.svg");
      background-size: 13px 13px;
    }

    .titlebar-btn-minimize {
      background-image: url("images/minimize.svg");
    }

    /* Mac */

    .darwin .titlebar-btns {
      flex-direction: row-reverse;
    }

    .darwin .titlebar-btn {
      width: 14px;
      height: 14px;
      margin-left: 10px;
      padding: 0;
      border-radius: 50%;
    }

    .darwin .titlebar-btn-close { background: #f73a4e; }
    .darwin .titlebar-btn-maximize,
    .darwin.maximized .titlebar-btn-maximize { background: #fdb122; }
    .darwin .titlebar-btn-minimize {
      display: none; /* workaround */
      background: #75d668;
    }

    .darwin .titlebar-btn-close:hover { background: #ef5666; }
    .darwin .titlebar-btn-maximize:hover { background: #ffc455; }
    .darwin .titlebar-btn-minimize:hover { background: #85e579; }

    .darwin .titlebar-btn-close:active { background: #c32e3e; }
    .darwin .titlebar-btn-maximize:active { background: #c68a19; }
    .darwin .titlebar-btn-minimize:active { background: #64be58; }

  </style>

  <div id="container" class="container">
    <div class="draggable"></div>
    <div class="title">Jikkyo</div>
    <div class="titlebar-btns">
      <div id="minimize" class="titlebar-btn titlebar-btn-minimize"></div>
      <div id="maximize" class="titlebar-btn titlebar-btn-maximize"></div>
      <div id="close" class="titlebar-btn titlebar-btn-close"></div>
    </div>
  </div>

</template>

<script>
  (() => {
    "use strict";

    var win = require("nw.gui").Window.get();
    var doc = document.currentScript.ownerDocument;

    var titlebar = class extends HTMLElement {

      show() {
        this.shadowRoot.getElementById("container").classList.remove("hidden");
      }

      hide() {
        this.shadowRoot.getElementById("container").classList.add("hidden");
      }

      toggle() {
        if (this.isShown) this.hide();
        else this.show();
      }

      get isShown() {
        return !this.shadowRoot.getElementById("container").classList.contains("hidden");
      }

      createdCallback() {
        var root = this.createShadowRoot();
        var template = doc.querySelector("template");
        root.appendChild(document.importNode(template.content, true));

        var container = root.getElementById("container");
        container.classList.add(process.platform);

        win.on("maximize", () => container.classList.add("maximized"));
        win.on("unmaximize", () => container.classList.remove("maximized"));

        root.getElementById("minimize").addEventListener("click", e => {
          if (process.platform === "darwin")
            return window.WindowWrapper.toggleMaximized();
          else
            win.minimize();
          e.stopPropagation();
        });

        root.getElementById("maximize").addEventListener("click", (e => {
          if (process.platform === "darwin") return win.minimize();
          else window.WindowWrapper.toggleMaximized();
          e.stopPropagation();
        }).bind(this));

        root.getElementById("close").addEventListener("click", e => {
          win.close();
          e.stopPropagation();
        });
      }

    };

    window.jikkyo.Titlebar = document.registerElement("jikkyo-titlebar", {
      prototype: titlebar.prototype
    });

  })();
</script>
