<template id="viewer">

  <style>
    :host {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      font-size: 32px;
    }

    .container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    jikkyo-chat {
      position: absolute;
      display: inline-block;
      color: #fff;
      font-weight: bold;
      white-space: nowrap;
      text-shadow: 0 0 5px #000;
    }

    .admin, .enquete { display: none; }

    .red { color: #f00; }
    .pink { color: #ff8080; }
    .orange { color: #ffc000; }
    .yellow { color: #ff0; }
    .green { color: #0f0; }
    .cyan { color: #0ff; }
    .blue { color: #00f; }
    .purple { color: #c000ff; }
    .black { color: #000; }
    .white2, .niconicowhite { color: #cccc99; }
    .red2, .truered { color: #cc0033; }
    .pink2 { color: #f3c; }
    .orange2, .passionorange { color: #f60; }
    .yellow2, .madyellow { color: #990; }
    .green2, .elementalgreen { color: #0c6; }
    .cyan2 { color: #0cc; }
    .blue2, .marineblue { color: #39f; }
    .purple2, .nobleviolet { color: #63c; }
    .black2 { color: #666; }

    .ue { }
    .shita { }

    .big { font-size: 150%; }
    .small { font-size: 50%; }

  </style>

  <div class="container"></div>

</template>

<script src="Viewer.js"></script>
<script src="ViewerAdapter.js"></script>
