<template id="viewer">

  <style id="main">
    :host {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .base {
      font-size: 32px;
    }

    jikkyo-chat {
      position: absolute;
      display: inline-block;
      color: #fff;
      font-weight: bold;
      line-height: 1.2;
      white-space: nowrap;
      text-shadow: 0 0 5px #000;
    }

    .admin, .enquete { display: none; }

  </style>
  <style id="base">
    .base { font-size: 32px; }
    jikkyo-chat {}
    jikkyo-chat.bullet {}
  </style>
  <style id="chat"></style>
  <style id="chat-bullet"></style>

  <div class="container base"></div>

</template>

<script src="Viewer.js"></script>
<script src="ViewerAdapter.js"></script>
