@charset "UTF-8";

body {
  margin: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "メイリオ", sans-serif;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #aaa;
  overflow: hidden;
}
