@charset "UTF-8";

body {
  margin: 0;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
}

body, input {
  font-size: 14px;
  font-family: "メイリオ", sans-serif;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
  transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.container.hover {
  border-color: #aaa;
}

.container.maximized {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
